<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site has been created by LR. It uses data from mapbox and weatherstack</p>
    </div>
    {{>footer}}
</body>

</html>